{% extends "layouts/tl1-layout.html" %}

{% set pageName="Case details" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="summary" name="action-required-form" method="post" class="govuk-form-group">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">OM1</span>
            <h1 class="govuk-fieldset__heading">
              What action is required?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="action-required-1" name="action-required" type="radio" value="Reason1">
              <label class="govuk-label govuk-radios__label" for="action-required-1">
                Continue with claim, no further action needed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="action-required-2" name="action-required" type="radio" value="Reason2">
              <label class="govuk-label govuk-radios__label" for="action-required-2">
                Arrange a health assessment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="action-required-3" name="action-required" type="radio" value="Reason3">
              <label class="govuk-label govuk-radios__label" for="action-required-3">
                Contact the claimant for more information
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="action-required-4" name="action-required" type="radio" value="Reason4">
              <label class="govuk-label govuk-radios__label" for="action-required-4">
                Send ‘How your disability affects you’ form
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Reason preview</h2>
      <p id="reason-preview-0" class="govuk-body">
        Please select what action is required to view preview.
      </p>
      <p id="reason-preview-1" class="govuk-body" style="display: none;">
        We now have all the information we need to continue with your PIP claim
      </p>
      <p id="reason-preview-2" class="govuk-body" style="display: none;">
        We will now continue with your PIP claim, to do this we will arrange for one of our assessment providers to contact you about having a health assessment if they decide it is needed
      </p>
      <p id="reason-preview-3" class="govuk-body" style="display: none;">
        We will now continue with your PIP claim, to do this we will contact you to make sure we have all the information we need for your PIP claim
      </p>
      <p id="reason-preview-4" class="govuk-body" style="display: none;">
        We will now continue with your PIP claim, to do this we will send you a 'How your disability affects you' form for you to fill in and send back to us
      </p>

      <button type="submit" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/om1-preview-3.js"></script>
{% endblock %}