{% extends "layouts/case-layout.html" %}

{% set pageName="Case details" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Case details</h1>
    <span class="govuk-caption-m">
      Customer
    </span>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Mr Arthur Morgan</p>
    <p class="govuk-body govuk-!-margin-bottom-1">123 Sample Street, Example town, AB1 2CD</p>
    <p class="govuk-body govuk-!-margin-bottom-1">AA12345 C</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <span class="govuk-caption-m govuk-!-margin-top-3">
      Appointee
    </span>
    <p class="govuk-body govuk-!-margin-bottom-1">No appointee details are recorded for this case.</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><a href="new-appointee" class="govuk-link govuk-link--no-visited-state">Add appointee details</a></p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <span class="govuk-caption-m govuk-!-margin-top-3">
      Representative
    </span>
    <p class="govuk-body govuk-!-margin-bottom-1">No representative details are recorded for this case.</p>
    <p class="govuk-body govuk-!-margin-bottom-1"><a href="new-representative" class="govuk-link govuk-link--no-visited-state">Add representative details</a></p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-2">

    <p class="govuk-hint govuk-!-font-size-16">Details last updated on 27 February 2026, 15:00</p>

    <p class="govuk-body">
      If the above details are incorrect, try <a href="case-reloading" class="govuk-link govuk-link--no-visited-state">refetching the information</a>.
    </p>

    <br />

    <h2 class="govuk-heading-m">Available case documents</h2>

    <article aria-label="Sub navigation 1">
      <section id="bundle-start" class="doc-card govuk-!-margin-top-5">
        <h3 class="govuk-heading-s">Bundle</h3>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a id="bundle-start-link" href="#" role="button" draggable="false" class="govuk-button govuk-button--start doc-card-button" data-module="govuk-button">
          Add
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </section>
      <section id="appeal-start" style="display: none;" class="doc-card govuk-!-margin-top-5">
        <h3 class="govuk-heading-s">Appeal response</h3>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="appeals-response/appeals-tasklist" role="button" draggable="false" class="govuk-button govuk-button--start doc-card-button" data-module="govuk-button">
          Add
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </section>
      <section class="doc-card govuk-!-margin-top-5">
        <h3 class="govuk-heading-s">OM1</h3>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="om1/form" role="button" draggable="false" class="govuk-button govuk-button--start doc-card-button" data-module="govuk-button">
          Add
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </section>
      <section id="bundle-start" class="doc-card govuk-!-margin-top-5">
        <h3 class="govuk-heading-s">TL1</h3>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a id="bundle-start-link" href="TL1/form" role="button" draggable="false" class="govuk-button govuk-button--start doc-card-button" data-module="govuk-button">
          Add
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </section>
    </article>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/doc-states.js"></script>
{% endblock %}