{% extends "layouts/case-layout.html" %}

{% set pageName="Case details" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Case details</h1>
    <span class="govuk-caption-m">
      Customer
    </span>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Mr Arthur Morgan</p>
    <p class="govuk-body govuk-!-margin-bottom-1">123 Sample Street, Example town, AB1 2CD</p>
    <p class="govuk-body govuk-!-margin-bottom-1">AA12345 C</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <span class="govuk-caption-m govuk-!-margin-top-3">
      Appointee
    </span>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Sadie Adler</p>
    <p class="govuk-body govuk-!-margin-bottom-1">567 Sample Street, Example town, AC1 2FD</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <span class="govuk-caption-m govuk-!-margin-top-3">
      Representative
    </span>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Micah Bell</p>
    <p class="govuk-body govuk-!-margin-bottom-1">876 Sample Street, Example town, AZ1 5GG</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-2">

    <p class="govuk-hint govuk-!-font-size-16">Details last updated on 27 February 2026, 15:00</p>

    <p class="govuk-body">
      If the above details are incorrect, try <a href="case-reloading" class="govuk-link govuk-link--no-visited-state">refetching the information</a>.
    </p>

    <br />

    <h2 class="govuk-heading-m">Case documents</h2>
    <p class="govuk-body">These documents are optional. Only add them if they are relevant to your case.</p>


    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-visually-hidden">Case documents</caption>
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width: 25% !important;">Document</th>
          <th scope="col" class="govuk-table__header" style="width: 25% !important;">Last updated</th>
          <th scope="col" class="govuk-table__header" style="width: 25% !important;">Status</th>
          <th scope="col" class="govuk-table__header" style="width: 25% !important;">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" id="bundle-start-table">
          <th scope="row" class="govuk-table__header">Bundle</th>
          
          <td class="govuk-table__cell">
            -
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Not added
            </strong>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" id="bundle-start-link-table" href="#">Add<span class="govuk-visually-hidden"> bundle document</span></a>
          </td>
        </tr>
        <tr class="govuk-table__row" id="bundle-inprogress-table" style="display: none;">
          <th scope="row" class="govuk-table__header">Bundle</th>
          
          <td class="govuk-table__cell">
            12/03/2026
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Added
            </strong>
          </td>
          <td class="govuk-table__cell">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link govuk-link--no-visited-state" href="#">View<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link govuk-link--no-visited-state" href="#">Remove<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row" id="appeal-start-table" style="display: none;">
          <th scope="row" class="govuk-table__header">Appeals response</th>
          
          <td class="govuk-table__cell">
            13/03/2026
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-response/appeals-tasklist">Continue<span class="govuk-visually-hidden"> appeals response document</span></a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">OM1</th>
          
          <td class="govuk-table__cell">
            -
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Not added
            </strong>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="om1/form">Add<span class="govuk-visually-hidden"> OM1 document</span></a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">TL1</th>
          <td class="govuk-table__cell">
            -
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Not added
            </strong>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="TL1/form">Add<span class="govuk-visually-hidden"> TL1 document</span></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/doc-states.js"></script>
{% endblock %}