{% extends "layouts/case-layout.html" %}

{% set pageName="Case details" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="loading-container">
      <div class="loading" aria-live="polite" role="status"></div>
      <p class="govuk-body loading-text">Loading customer details, this can take around 5-10 minutes or you can <a href="new-personal" class="govuk-link govuk-link--no-visited-state">enter customer details manually</a>.</p>
    </div>

    <h1 class="govuk-heading-s">
      Case documents
    </h1>

    <div class="card">
      <p class="govuk-body"><a class="govuk-link" href="#">Start bundle</a></p>
      <p class="govuk-body">[Helpful guide text]</p>
    </div>

    <div class="card govuk-!-margin-top-5">
      <p class="govuk-body"><a class="govuk-link" href="#">Create an OM1</a></p>
      <p class="govuk-body">[Helpful guide text]</p>
    </div>

    <h1 class="govuk-heading-s govuk-!-margin-top-5">
      Need a case extension?
    </h1>

    <div class="card govuk-!-margin-top-5">
      <p class="govuk-body"><a class="govuk-link" href="#">Create TL1</a></p>
      <p class="govuk-body">[Helpful guide text]</p>
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/page-load-drs.js"></script>
{% endblock %}