{% extends "layouts/case-layout.html" %}

{% set pageName="Case details" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Case details</h1>
    <span class="govuk-caption-m">
      Customer
    </span>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Mr Arthur Morgan</p>
    <p class="govuk-body govuk-!-margin-bottom-1">123 Sample Street, Example town, AB1 2CD</p>
    <p class="govuk-body govuk-!-margin-bottom-1">AA12345 C</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-hint govuk-!-font-size-16">Details last updated on 27 February 2026, 15:00</p>

    <p class="govuk-body">
      If the above details are incorrect, try <a href="case-reloading" class="govuk-link govuk-link--no-visited-state">refetching the information</a>.
    </p>

    <p class="govuk-body-l">
      <a href="#" class="govuk-link govuk-link--no-visited-state">Add appointee details</a><br/>
      <a href="#" class="govuk-link govuk-link--no-visited-state">Add representative details</a>
    </p>

    <h1 class="govuk-heading-m">
      Case documents
    </h1>

    <div id="bundle-start" class="card govuk-!-margin-top-5">
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" id="bundle-start-link" href="#">Create Bundle</a></p>
      <p class="govuk-body">[Helpful guide text]</p>
    </div>

    <div id="bundle-inprogress" style="display: none;" class="card">
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" id="bundle-inprogress-link" href="#">Open bundle</a></p>
      <p class="govuk-body">Started on 21/04/2025, 10:00am</p>
      <div class="card-actions">
        <div>
          <strong class="govuk-tag">
            Inprogress
          </strong>
        </div>
        <div class="govuk-!-margin-left-4">
          <p class="govuk-body govuk-!-padding-0">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Delete</a>
          </p>
        </div>
      </div>
    </div>

    <div id="appeal-start" style="display: none;" class="card govuk-!-margin-top-5">
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" id="appeal-start-link" href="appeals-response/appeals-tasklist">Create Appeal response</a></p>
      <p class="govuk-body">[Helpful guide text]</p>
    </div>

    <div class="card govuk-!-margin-top-5">
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">Create an OM1</a></p>
      <p class="govuk-body">[Helpful guide text]</p>
    </div>

    <h1 class="govuk-heading-m govuk-!-margin-top-5">
      Need a case extension?
    </h1>

    <div class="card govuk-!-margin-top-5">
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="TL1/form">Create TL1</a></p>
      <p class="govuk-body">[Helpful guide text]</p>
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/doc-states.js"></script>
{% endblock %}