{% extends "layouts/case-layout-no-name.html" %}

{% set pageName="Case details" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Enter customer details
    </h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="hmcts-ref">
        HMCTS reference number
      </label>
      <input class="govuk-input" id="hmcts-ref" name="hmctsRef" type="text">
    </div>

    <form action="case-details-customer-only" id="new-details-form" method="post" class="govuk-form-group">
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Title/Pronouns
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="op1">Select</option>
          <option value="mr">Mr</option>
          <option value="op3">Option 3</option>
          <option value="op4">Option 4</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="first-name">
          First name
        </label>
        <input class="govuk-input" id="first-name" name="firstName" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="second-name">
          Second name
        </label>
        <input class="govuk-input" id="second-name" name="secondName" type="text">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend">
            Date of birth
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 1975
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <fieldset class="govuk-fieldset govuk-!-margin-top-7">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Customer address
          </h2>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1" value="">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2" value="">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
        </div>
        <div class="govuk-form-group" id="postcode-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <span id="postcode-error" class="govuk-error-message" style="display:none;">
            <span class="govuk-visually-hidden">Error:</span>
            This service only supports UK addresses
          </span>
          <input id="postcode" class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code" value="">
        </div>
      </fieldset>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">
        Alternative formats
      </h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-visually-hidden">
            Which types of waste do you transport?
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Customer requires large print
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/address-check.js"></script>
{% endblock %}