{% extends "layouts/case-layout.html" %}

{% set pageName="Case details" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="new-representative" method="post" class="govuk-form-group">
      <h1 class="govuk-heading-m">
        Appointee details
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="appointee-name">
          Appointee name
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="appointee-name" name="appointee-name" type="text" value="">
      </div>

      <fieldset class="govuk-fieldset govuk-!-margin-top-7">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Appointee address
          </h2>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1" value="">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2" value="">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code" value="">
        </div>
      </fieldset>

      <button type="submit" class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
        Next
      </button>
    </form>

  </div>
</div>

{% endblock %}
