{% extends "layouts/case-layout.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Case summary
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Title/Pronouns
        </dt>
        <dd class="govuk-summary-list__value">
          Mr
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Title/Pronouns</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Arthur Morgan
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          123 Sample Street<br>Example town<br>AB1 2CD
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Appointee name
        </dt>
        <dd class="govuk-summary-list__value">
          Sadie Adler
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Appointee name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Appointee address
        </dt>
        <dd class="govuk-summary-list__value">
          567 Sample Street<br>Example town<br>AC1 2FD
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Appointee address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Representative name
        </dt>
        <dd class="govuk-summary-list__value">
          Micah Bell
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Representative name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Representative address
        </dt>
        <dd class="govuk-summary-list__value">
          876 Sample Street<br>Example town<br>AZ1 5GG
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Representative address</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      Documents sent
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="#" class="govuk-link">TL1</a>
        </dt>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      Prepared documents to be sent
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="#" class="govuk-link">Bundle</a>
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> doc 1</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="#" class="govuk-link">Appeals Response</a>
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> doc 2</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="#" class="govuk-link">AT38</a>
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> doc 3</span></a>
        </dd>
      </div>
    </dl>

    <form action="/index" method="post" class="govuk-form-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Close and send documents
      </button>
    </form>

  </div>
</div>

{% endblock %}
