{% extends "layouts/appeal-layout.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="appeals-case-details-summary" method="post" class="govuk-form-group">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">Appeal response</span>
          <label class="govuk-label govuk-label--l" for="decision-detail">
            Decision under appeal
          </label>
        </h1>
        <textarea class="govuk-textarea govuk-!-margin-top-5" id="decision-detail" name="decisionDetail" rows="7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae dui nunc. Proin enim velit, vestibulum sed ullamcorper sed, luctus vel elit. Aliquam mollis rutrum nibh. Mauris tristique, orci ac mollis dictum, est justo convallis magna, vitae pharetra lacus dui in mauris. Integer nec eleifend purus, gravida mattis dolor.
        </textarea>
      </div>
    
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Next
      </button>
    </form>

  </div>
</div>

{% endblock %}
