{% extends "layouts/appeal-layout.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="appeals-case-details-summary" method="post" class="govuk-form-group">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Appeal response</span>
        Case details
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Decision effective date (age at effective date)
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
      </div>
    
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Next
      </button>
    </form>

  </div>
</div>

{% endblock %}
