{% extends "layouts/appeal-layout.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../case-details">Case details</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="appeals-tasklist">Appeals response</a>
      </li>
    </ol>
  </nav>

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="appeals-case-details-2" method="post" class="govuk-form-group">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Appeal response</span>
            <h1 class="govuk-fieldset__heading">
              Type of appeal
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-of-om1" name="type-of-om1" type="radio" value="new claim">
              <label class="govuk-label govuk-radios__label" for="type-of-om1">
                New claim
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-of-om1-2" name="type-of-om1" type="radio" value="reassessment">
              <label class="govuk-label govuk-radios__label" for="type-of-om1-2">
                Reassessment
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and exit
        </a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
