{% extends "layouts/appeal-layout.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="appeals-case-details-summary" method="post" class="govuk-form-group">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Appeal response</span>
        Schedule of Events
      </h1>

      <p class="govuk-body" style="color:#484949;">Showing 10 of 34</p>

      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-visually-hidden">events</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Event date</th>
            <th scope="col" class="govuk-table__header">Event</th>
            <th scope="col" class="govuk-table__header">Document date</th>
            <th scope="col" class="govuk-table__header">Pages</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">Health Professional's Supplementary Advice (PA6) received</td>
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">610 - 617</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">DWP Supplementary Response issued</td>
            <td class="govuk-table__cell">04/06/2024</td>
            <td class="govuk-table__cell">618 - 619</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">HMCTS Adjournment Notice received</td>
            <td class="govuk-table__cell">04/06/2024</td>
            <td class="govuk-table__cell">620 - 620</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">Appellant contacted the Department</td>
            <td class="govuk-table__cell">06/06/2024</td>
            <td class="govuk-table__cell">621</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">DWP LT203C (Appeal Lapsed) uploaded</td>
            <td class="govuk-table__cell">14/06/2024</td>
            <td class="govuk-table__cell">622 - 629</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">HMCTS Appeal Request (SSCS1) received</td>
            <td class="govuk-table__cell">23/06/2024</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">HMCTS Directions Notice received</td>
            <td class="govuk-table__cell">17/06/2024</td>
            <td class="govuk-table__cell">622 - 629</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">DWP Request for Extension to Time Limit (TL1) issued</td>
            <td class="govuk-table__cell">Undated</td>
            <td class="govuk-table__cell">631 - 632</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">Appeal Writer notes (telephone call) uploaded</td>
            <td class="govuk-table__cell">01/08/2024</td>
            <td class="govuk-table__cell">634 - 642</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">23/05/2024</td>
            <td class="govuk-table__cell">HMCTS Direction Notice received</td>
            <td class="govuk-table__cell">05/08/2024</td>
            <td class="govuk-table__cell">643 - 644</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
          </tr>
        </tbody>
      </table>

      <nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>
    
      <button type="submit" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
        Next
      </button>
    </form>

  </div>
</div>

{% endblock %}
