{% extends "layouts/appeal-layout.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="../case-details" class="govuk-back-link">Return to case details</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Appeal response
    </h1>

    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-link--no-visited-state govuk-task-list__link" href="appeals-case-details" aria-describedby="tasklist-1">
            Case details
          </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-1">
          Completed
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-link--no-visited-state govuk-task-list__link" href="appeals-illness" aria-describedby="tasklist-3-hint tasklist-3">
            Illness and disabilities
          </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-3">
          <strong class="govuk-tag govuk-tag--blue">
            Not started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-link--no-visited-state govuk-task-list__link" href="appeals-no-facts" aria-describedby="tasklist-4">
            Facts of the case
          </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-4">
          <strong class="govuk-tag govuk-tag--blue">
            Not started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-link--no-visited-state govuk-task-list__link" href="appeals-decision" aria-describedby="tasklist-5">
            Decisions
          </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-5">
          <strong class="govuk-tag govuk-tag--blue">
            Not started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-link--no-visited-state govuk-task-list__link" href="appeals-issues-raised-0" aria-describedby="tasklist-5">
            Issues raised by the appeal
          </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-5">
          <strong class="govuk-tag govuk-tag--blue">
            Not started
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-link--no-visited-state govuk-task-list__link" href="#" aria-describedby="tasklist-5">
            Conclusion
          </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-5">
          <strong class="govuk-tag govuk-tag--blue">
            Not started
          </strong>
        </div>
      </li>
    </ul>
    <form action="summary" method="post" class="govuk-form-group">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Delete data and refresh data from PIPCS
        </a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
