{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">
      Appeals Management Service (AMS)
    </h1>

    <p class="govuk-body">Use the Appeal Management Service as your home for creating an appeal response, and accompanying letters.</p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="ams-section">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="ams-section-heading-1">
              Full application
            </span>
          </h2>
        </div>
        <div id="ams-section-content-1" class="govuk-accordion__section-content">

          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag">
                  In progress
                </strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Version
              </dt>
              <dd class="govuk-summary-list__value">
                1.0
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Description
              </dt>
              <dd class="govuk-summary-list__value">
                Improved other benefits journey, created onboarding screen and bug fixes across the application.
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Updated on
              </dt>
              <dd class="govuk-summary-list__value">
                01/10/2026
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Designer
              </dt>
              <dd class="govuk-summary-list__value">
                Ryan Garrett
              </dd>
            </div>
          </dl>

          <a href="my-cases" class="govuk-button" data-module="govuk-button">
            Start
          </a>
          
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="ams-section-heading-2">
              Journeys
            </span>
          </h2>
        </div>
        <div id="ams-section-content-2" class="govuk-accordion__section-content">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="pages/appeals-response/appeals-case-type">Appeals response</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="pages/new-case">New case</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="pages/om1/form">OM1</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="pages/onboarding">Onboarding</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="pages/TL1/form">TL1</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="ams-section-heading-3">
              Error screens
            </span>
          </h2>
        </div>
        <div id="ams-section-content-3" class="govuk-accordion__section-content">
          <p class="govuk-body">This is the content for Know your audience.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
